<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

  <div align="center" padding >
    <img src="assets/img/logo.svg" alt="">
  </div>

  <div align="center">
    <button ion-button icon-left (click)="goToHomePage()"> 
      <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
      Entrar com o Facebook
    </button>
  </div>
  <br>
  <br>
  <ion-list>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>

  <div >
    <button ion-button block (click)="goToHomePage()"> Entrar </button>
    <ion-row align="center">
      <ion-col>
        <button ion-button small block style="background: red" (click)="goToRecuperarSenha()">Esqueci minha senha</button>
      </ion-col>

      <ion-col>
        <button ion-button small block color="secondary" (click)="goToCadastrar()" >Não tenho cadastro</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
