<!--
  Generated template for the IntroducaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>

  <ion-slides pager>

  <ion-slide>
    <ion-card class="ion-card">
      <ion-card-content>
        <img src="assets/img/introducao/wifi.svg" alt="" padding >
      </ion-card-content>
    </ion-card>
    <p>Não deixe de compartilhar suas experiências!!! Aqui você pode utilizar o Wi-Fi a vontade!!!</p>    
  </ion-slide>

  <ion-slide>
    <ion-card class="ion-card">
      <ion-card-content>
        <img src="assets/img/introducao/map-marker.svg" alt=""  style ="width: 52.5%; margin-left: 25%" padding>
      </ion-card-content>
    </ion-card>
    <p>Quanto mais você se diverte, mais você ganha!!! Não deixe de participar do RQ Enjoy</p>    
  </ion-slide>

  <ion-slide>
    <ion-card class="ion-card">
      <ion-card-content>
        <img src="assets/img/introducao/gift.svg" alt="" padding style ="width: 84%; margin-left: 10%" >
      </ion-card-content>
    </ion-card>
    <p> Quanto mais você se diverte, mais você ganha!!! Não deixe de participar do RQ Enjoy</p>    
  </ion-slide>

  <ion-slide>
    <ion-card class="ion-card">
      <ion-card-content>
        <img src="assets/img/introducao/person-add.svg" alt="" padding style ="width: 95%; margin-left: 5%" >
      </ion-card-content>
    </ion-card>
    <p> Compartilhe com seus amigos, convide sua familia e venha viver o inesquecível!!!</p>    
  </ion-slide>

  <ion-slide>
    <br>
    <ion-card class="ion-card">
      <ion-card-content>
        <img src="assets/img/introducao/trophy.svg" alt="" padding style ="width: 80%; margin-left: 12%">
      </ion-card-content>
    </ion-card>
    <p> Agora você está pronto para viver a maior experiência da sua vida!!!</p>   
    
    <button ion-button block (click)=" goToHomePage()">Viver o inimaginável!!!</button>
  </ion-slide>

</ion-slides>

</ion-content>
