<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Enjoy</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu">
      <ion-avatar item-start style="background: #004864; width: 50%; margin-left: 25%">
        <img src="assets/img/utils/nerd8.svg">
      </ion-avatar>
    <ion-list >
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="background: #004864; color: white">
         <ion-icon name={{p.icon}}></ion-icon>
          {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>