<!--
  Generated template for the RecuperarSenhaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>RecuperarSenha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>

  <div >
    <ion-row align="center">
      <ion-col>
        <button ion-button block (click)="showAlert()">Enviar</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
